:root {
  --mainColor: red;
  --mainColorLight: green;
  --secondaryColor: blue;
  --textColor: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.buttons {
  background-color: rgb(99, 82, 193);
}

header div,
nav {
  display: flex;
  align-items: center;
}

nav a {
  font-size: 20px;
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}
