.header {
  padding: 10px;
}

.section1 {
  padding: 10px;
}

.section2 {
  padding: 10px;
}

.image_section {
  width: 30%;
}

.scan_section {
  flex-grow: 1; /* Adjusts the width to the remaining space leaved by image_section*/
}

.step_container {
  flex-grow: 1;
}

.upload_section {
}
