.main {
}

.section1 {
  justify-content: center;
  flex-wrap: nowrap;
}

.section2 {
  padding: 10px;
}

.image_section {
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image_section img {
  width: 450px;
  height: 450px;
}

.scan_section {
  padding: 80px;
  text-align: left;
  max-width: 1000px;
}

.scan_section h1 {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 30px;
}

.scan_section p {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.upload_section {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;

  border-style: dashed;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}

.button_container {
  margin-bottom: 20px;
}

.upload_image_button {
  padding: 10px 17px 10px 17px;
  text-transform: none;

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);

  border-radius: var(--border-radius);
}

.upload_section p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.formats_container {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.format_boxes_container {
  margin-left: 10px;
  gap: 15px;
}

.format_box {
  padding: 6px;
  border-radius: 5px;
  background-color: black;
  color: white;

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.terms_service {
  font-size: 13px;
  font-weight: var(--font-weight-bold);
}

/* wfwefwf */
.step_container {
  flex-grow: 1;
}
