.main {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 100px;
  height: 100vh;
  background: linear-gradient(
    -180deg,
    #000000,
    #000000,
    #000000,
    rgb(79, 68, 104)
  );
}

.main h1 {
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
}

.main h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 50px;
  color: var(--color-text-secondary);
}

.main .divider_container {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main .line {
  height: 1px;
  background-color: white;
  flex-grow: 1;
}

.main .text {
  margin: 0 10px;
  color: white;
}

.main .enter_as_guest {
  text-align: center;
}

.main .guest_user {
  cursor: pointer;
  color: #baaff4;
  transition: color 0.3s ease;
}

.main .guest_user:hover {
  color: rgb(35, 233, 255);
}
