.scan-result-page {
  background-color: aqua;
}

.main-container {
  background-color: rgb(1, 255, 170);
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.first-column,
.second-column {
  background-color: blue;
  padding: 10px;
}

.container-row {
  background-color: rgb(226, 43, 192);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.item {
  background-color: #ff1c1c;
}
