.main1 {
  justify-content: center;
  align-items: center;
  overflow: hidden;

  padding: 10px;
}

.main1 .image_container {
  width: 1100px;
  height: 500px;
  overflow: hidden;
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 15px;
  margin-top: 12px;
}

.main1 img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: zoom-in;
}

.main1 .zoom_value {
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  margin: -35px 0 0 958px; /* Temporal solution. Dont use margin in the future */
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
}

.main1 .buttons {
  align-items: center;
  position: absolute;
  gap: 10px;
  bottom: 15px;
}

.main2 {
  background-color: aqua;
  padding: 15px;
  align-items: center;
}

.main2 .width_limiter {
  max-width: 2000px;
  flex-wrap: nowrap;
}

.main2 .info_container {
  min-width: 60%;
  max-width: 55%;
  padding: 10px;
}

.main2 .image_container {
  width: 700px;
  height: 580px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  align-items: center;
}

.main2 .image_container img {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.main2 .buttons_container {
  position: absolute;
  gap: 10px;
  margin-top: 500px;
}

.main2 h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}

.main2 .text_input {
  background-color: #afa9b9;
  padding: 17px;
  border-radius: var(--border-radius);
  width: 100%;
  font-size: var(--font-size-md);
}

.main2 .file_edit {
  flex-grow: 1;
  resize: none;
}

.main2 .custom_date_field {
  background-color: #afa9b9;
  border-radius: var(--border-radius);
}

.main2 .multiple_container {
  margin-top: 40px;
  gap: 30px;
}

.main2 .column1 {
}

.main2 .column2 {
  width: 400px;
}

.main2 .column3 {
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: rgba(153, 153, 153, 0.386);
  justify-content: center;
  width: 200px;
}
