@import "@fontsource/cantata-one";

.center-img-half {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  /* border: solid 1px black; */
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 13px;
  color: red;
}

.black-white-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: "Cantata One", serif;
  padding: 10px;
  width: 25%;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-family: "Cantata One", serif;
}

.banner {
  background-repeat: repeat-x;
  background-image: url(../images/landingBanner.png);
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.wrapper {
  background-color: white;
  height: 100%;
}

.navbar-wrapper {
  margin-top: 60px;
  height: 100vh;
  position: relative;
}

.login-column1 {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-width: 0;
  max-height: 100%;
}

.login-column2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-width: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.column {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-width: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.flex-item {
  text-align: center;
}

#rounded-input {
  border-radius: 10px;
  padding: 10px;
  font-family: "Cantata One", serif;
}

.profpic-container {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: dashed 1px black;
  background-image: url(../images/ChessPalLogo.png);
}

.profilepicture {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.bumper-row {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}
